
/*h1{

}*/
/*font-family: 'Shadows Into Light', cursive;
font-family: 'Jura', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Play', sans-serif;*/

/*html{
  font-size: 16px;
}

body{
  background-color: yellow;
}

header{
  max-width: 900px;
  background-color: yellow;
  display: block;
  margin: auto;
  background-color: orange;
  padding: 50px 80px;
  box-sizing: border-box;
}

#layout{
  max-width: 900px
  display: block;
  margin: auto;
  background-color: red;
  padding: 50px 80px;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Architects Daughter', cursive;

}

h1{
  font-size: 5em;
  text-align: center;
  border-radius: 8px;
  transition: all .3s ease;
  border-bottom: 4px solid white;
}

h1:hover{
  font-size: 8em;
  transition: all .3s ease;

}


body{
  background-image: url('.images/bg.jpg');
}

p, li{
 }
 .{
  color: 
  text-decoration: none;
 }

li{
  list-style-type: none;
}

 a:hover{
  border-bottom: : 1px dashed #FFF;
 }

nav{

}

nav ul{

}

 nav ul li a {
  font-size: 2em;
  background-color: green;
 }

nav ul li a: hover{
}*/